@import url("https://v1.fontapi.ir/css/IranNastaliq");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,100&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container {
  width: 100%;
  height: 100vh;
  z-index: 1;
}

body {
  background: linear-gradient(
    167.64deg,
    #c4962a -2.6%,
    #a2864d 57.25%,
    #cdab6b 98.09%
  );
}
.language_choose {
  background: linear-gradient(
    255.78deg,
    #ffd700 -18.61%,
    rgba(196, 150, 42, 0.64) 35.36%,
    rgba(205, 171, 107, 0.62) 93.77%
  );
  box-shadow: 3px 5px 5px rgba(59, 45, 13, 0.68);
  border-radius: 16px;
  height: 87px;
}
.category {
  background: linear-gradient(
    255.78deg,
    #ffd700 -18.61%,
    rgba(196, 150, 42, 0.64) 35.36%,
    rgba(205, 171, 107, 0.62) 93.77%
  );
  box-shadow: 4px 4px 5px rgba(59, 45, 13, 0.25);
  border-radius: 20px;
}
.card {
  background: linear-gradient(
    180deg,
    rgba(123, 86, 0, 0.17) 0%,
    rgba(255, 215, 0, 0.24) 100%
  );

  /* card stork */
  border: 1px solid rgba(205, 171, 107, 0.3);

  /* card effect */
  box-shadow: 4px 4px 7px rgba(59, 45, 13, 0.25);
  backdrop-filter: blur(1.5px);

  /* Note: backdrop-filter has minimal browser support */
  border-radius: 20px;
}
.card-food {
  background: linear-gradient(
    180deg,
    rgba(123, 86, 0, 0.17) 0%,
    rgba(255, 215, 0, 0.24) 100%
  );

  /* card stork */
  /* border: 1px solid rgba(205, 171, 107, 0.3); */

  /* card effect */
  box-shadow: 4px 4px 7px rgba(59, 45, 13, 0.25);
  backdrop-filter: blur(1.5px);

  /* Note: backdrop-filter has minimal browser support */
  border-radius: 20px;
}
.add-button {
  background: linear-gradient(
    255.78deg,
    #ffd700 -18.61%,
    rgba(196, 150, 42, 0.64) 35.36%,
    rgba(205, 171, 107, 0.62) 93.77%
  );
  box-shadow: 4px 4px 7px rgba(59, 45, 13, 0.25);
  border-radius: 8px;
}
.topping {
  background: linear-gradient(
    255.78deg,
    #ffd700 -18.61%,
    rgba(196, 150, 42, 0.64) 35.36%,
    rgba(205, 171, 107, 0.62) 93.77%
  );
  box-shadow: 4px 4px 7px rgba(59, 45, 13, 0.25);
  backdrop-filter: blur(1.5px);
  border-radius: 20px;
}
.input_custom {
  background: rgba(157, 120, 34, 0.6);
  border-radius: 20px;
}

input,
textarea {
  background: rgba(157, 120, 34, 0.6);
  box-shadow: 4px 4px 7px rgba(59, 45, 13, 0.25);
}

.button_complate {
  background: #9d7822;
  border: 1px solid rgba(205, 171, 107, 0.3);
  box-shadow: 4px 4px 7px rgba(59, 45, 13, 0.25);
  backdrop-filter: blur(1.5px);
  border-radius: 20px;
}
.payment {
  background: linear-gradient(
    255.78deg,
    #ffd700 -18.61%,
    rgba(196, 150, 42, 0.64) 35.36%,
    rgba(205, 171, 107, 0.62) 93.77%
  );
  box-shadow: 4px 4px 7px rgba(59, 45, 13, 0.25);
  border-radius: 20px;
}
/* input[type="checkbox"] {
  accent-color: blue;
}

input[type="checkbox"]::before {
  accent-color: blue;
  background-color: #9d7822;
} */

.container {
  display: block;
  position: relative;
  padding-right: 10px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  width: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: transparent;
  border: 2px #4e3c11 solid;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #4e3c11;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 8px;
  bottom: 4px;
  width: 5px;
  height: 16px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  transform: rotate(35deg);
}
.subtotal {
  background: rgba(157, 120, 34, 0.6);
  box-shadow: 4px 4px 7px rgba(59, 45, 13, 0.25);
  border-radius: 20px;
}
.input_default {
  background: rgba(157, 120, 34, 0.6);
  border-radius: 20px;
  color: rgba(78, 60, 17);
  text-shadow: 4px 4px 10px rgba(59, 45, 13, 0.25);
}
.input_default::placeholder {
  color: rgba(78, 60, 17, 0.6);
  font-weight: 600;
  font-size: 16px;
}
.address_button {
  background: linear-gradient(
    255.78deg,
    #ffd700 -18.61%,
    rgba(196, 150, 42, 0.64) 35.36%,
    rgba(205, 171, 107, 0.62) 93.77%
  );

  /* card effect */
  box-shadow: 4px 4px 7px rgba(59, 45, 13, 0.25);
  backdrop-filter: blur(1.5px);

  /* Note: backdrop-filter has minimal browser support */
  border-radius: 8px;
}
.left_direction {
  direction: ltr;
}
.right_direction {
  direction: rtl;
}

@font-face {
  font-family: "Brando Arabic";
  src: url("./fonts/BrandoArabicRegular.woff2") format("woff2"),
    url("./fonts/BrandoArabicRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* @font-face {
  font-family: "IranNastaliq";
  src: url("./fonts/IranNastaliq.woff2") format("woff2"),
    url("./fonts/IranNastaliq.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */

layer base {
  @font-face {
    font-family: "Brando Arabic";
    src: url("./fonts/BrandoArabicRegular.woff2") format("woff2"),
      url("./fonts/BrandoArabicRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  /* @font-face {
    font-family: "IranNastaliq";
    src: url("./fonts/IranNastaliq.woff2") format("woff2"),
      url("./fonts/IranNastaliq.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  } */
}
.paginationBttns {
  padding: 20px;
  width: 100%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  width: 100%;
  padding: 8px 16px;
  border-width: 1px;
  font-size: 1rem;
  border-radius: 5px;
  color: rgb(78, 85, 99);
  cursor: pointer;
}

.paginationActive a {
  color: rgb(99, 102, 241);
}

.paginationDisabled a {
  color: grey;
  background-color: acc8e5;
}
.paginationDisabled a:hover {
  color: #acc8e5;
  background-color: white;
}
.input_serach_map {
  background: #9d7822;
  border: 1px solid rgba(205, 171, 107, 0.3);
  box-shadow: 4px 4px 7px rgba(59, 45, 13, 0.25);
  backdrop-filter: blur(1.5px);
  border-radius: 20px;
}
.input_serach_map::placeholder {
  font-family: "Brando Arabic";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: right;
  text-transform: capitalize;
  margin-right: 20px;
  color: rgba(78, 60, 17, 0.55);
}
.modal_bg {
  background: linear-gradient(
    167.64deg,
    #c4962a -2.6%,
    #a2864d 57.25%,
    #cdab6b 98.09%
  );
  border-radius: 40px;
}

/* Create the checkmark/indicator for toppings */
.containerTopping {
  display: block;
  position: relative;
  padding-right: 1px;
  margin-bottom: 16px;
  cursor: pointer;
  font-size: 22px;
  width: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.containerTopping input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmarkTopping {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: transparent;
  border: 2px beige solid;
  border-radius: 2px;
}
.containerTopping:hover input ~ .checkmarkTopping {
  background-color: #ccc;
}

.containerTopping input:checked ~ .checkmarkTopping {
  background-color: transparent;
}
.checkmarkTopping:after {
  content: "";
  position: absolute;
  display: none;
}
.containerTopping input:checked ~ .checkmarkTopping:after {
  display: block;
}
.containerTopping .checkmarkTopping:after {
  left: 8px;
  bottom: 4px;
  width: 5px;
  height: 16px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  transform: rotate(35deg);
}
.toast-message {
  background: #9d7822;
  color: #fff;
  font-size: 16px;
  width: 34vw;
  padding: 30px 20px;
  z-index: 99999;
}
